{{> head }}

{{> navbar}}


<div class="row">

<div class="col-8">
    <h1>Marlene</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem excepturi corrupti, id deserunt, animi ipsa nesciunt omnis qui neque eaque fuga vitae cupiditate facere soluta cumque. Laborum vel consequatur corporis.
</div>

<div class="col-4">
    <img src="assets/img/marlene.png" class="img-thumbnail">

</div>

</div>
{{> footer }}